.projectsAllContainer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(10,10,10);
}

@media (min-width:1500px) {
    .projectsAllContainer{
        padding-top: 8em;
        padding-bottom: 5em;
    }
}

@media (max-width:1499px) {
    .projectsAllContainer{
        padding-top: 7em;
        padding-bottom: 3em;
    }
}

.projectsMainBlock{
    width: 85vw;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5em;
}

